<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="SdrConfigExample.e2e"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding />
    </bindings>

    <client>
      <endpoint address="http://localhost:8080/NPSim/SharingService" binding="wsDualHttpBinding" contract="NPSim.Sharing.Lib.ISharingService" name="ServerEndpoint" />
    </client>
    
    <services>
      <service behaviorConfiguration="SharingServiceMEXBehavior" name="NPSim.Sharing.Lib.SharingService">
        <endpoint address="http://localhost:8080/NPSim/SharingService" binding="wsDualHttpBinding" contract="NPSim.Sharing.Lib.ISharingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/NPSim/SharingService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="SharingServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>

